<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'member:main' %}"><h3>Instagram</h3></a>
    <a href="{% url 'member:profile' %}">프로필</a>
    <a href="{% url 'member:logout' %}">로그아웃</a>
    <hr>    
    <h1>#{{tags.name}}</h1>
    <p>게시물 {{tags.article.count}}</p>
    {%for article in articles%}
    {% for photo in article.photo.all %}
    <img src="{{photo.image.url}}" width='300' height="300">
    {% endfor %}
    {% endfor %}
    
</body>
</html>