<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>업로드</title>
</head>
<body>
    <a href="{% url 'member:main' %}"><h3>Instagram</h3></a>
    <a href="{% url 'member:profile' %}">프로필</a>
    <a href="{% url 'member:logout' %}">로그아웃</a>
    <hr>    
    <form action="{% url 'social:upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" multiple>
        <input type='text' name='tag_name' placeholder="tag name" />
        <textarea name="content" placeholder="문구 입력..."></textarea>
        <input type="submit" value="작성하기">
    </form>
    
</body>
</html> 