<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 편집</title>
</head>
<body>
    <a href="{% url 'member:main' %}"><h3>Instagram</h3></a>
    <a href="{% url 'member:profile' %}">프로필</a>
    <a href="{% url 'member:logout' %}">로그아웃</a>
    <hr>    
    {{member.username}}
    <form action="{% url 'member:edit' %}" method="POST">
    {% csrf_token %}
        <p>프로필 사진 바꾸기</p>
        <p>이름 <input type="text" name='name' value='{{member.name}}'></p>
        <p>사용자 이름 <input type="text" name='username' value={{member.username}}></p>
        <button type='submit'>제출</button>
    </form>
</body>
</html>