<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <script src="https://kit.fontawesome.com/3a22cbe536.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <a href="{% url 'member:main' %}"><h3>Instagram</h3></a>
    <form action="" method="get">
        {% csrf_token %}
        <input type="text" placeholder="검색" name='search'>
    </form>
    
    <a href="{% url 'member:profile' %}">프로필</a>
    <a href="{% url 'member:logout' %}">로그아웃</a>
    <hr>    
    <br>
    {% for article_obj in article %}
        {% for photo in article_obj.photo.all %}
            <img src="{{photo.image.url}}" width='500'><br>
            <p>{{photo.article.content}}</p>
            {%for tag in photo.article.tags.all%}
            <a href="{% url 'social:tag-detail' tag.pk %}"><p>#{{tag.name}}</p></a>
            {% endfor %}
            {% endfor %}
            <i class ="{% if request.user in photo.article.like_users.all %}
            fas
            {% else %}
            far
            {% endif %} fa-heart
            like-button" data-id="{{article_obj.id}}" style="cursor: pointer;" >
            </i>
            <i class="far fa-comment" style="cursor: pointer;"></i>
            <br>
            좋아요
            <span id="like-count-{{article_obj.id}}">
                 {{count}}
            </span>개
            <br>
            {% for comment in article_obj.comment.all %}
            {{comment.content}}
            <br>
            {% endfor %}
            <br>
            <form action="{% url 'social:comment' article_obj.pk %}" method="POST">
                {% csrf_token %}
                <!-- <input type="hidden" value="{{article_obj.pk}}" name="article_id"> -->
                <input type="text" placeholder="댓글 달기..." name="comment" />
            </form>
        {% endfor %}

    <script>
        const likebuttons = document.querySelectorAll('.like-button')
        likebuttons.forEach(function(button){
            button.addEventListener('click', function(event){
                console.log(event.target.classList)
                const postId = event.target.dataset.id
                axios.get(`/social/like/${postId}`)
                        .then(function(response){
                            document.querySelector(
                                `#like-count-${postId}`).innerText= response.data.count
                            
                            // response.data => {'liked':True} 혹은 {'liked':False}
                            if (response.data.liked) {
                                event.target.classList.remove('far')
                                event.target.classList.add('fas')
                            } else {
                                event.target.classList.remove('fas')
                                event.target.classList.add('far')
                            }
                        })
                // window.location.reload();
            })
        })
    </script>
</body>

</html>